<mat-toolbar color="primary">
    <button mat-icon-button class="menu-icon">
        <mat-icon> directions_run</mat-icon>
    </button>
    <span>Tiruppur Runners</span>
    <span class="registration-spacer"></span>
</mat-toolbar>
<div class="container">
<h1> Registration Details </h1>
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Select Category </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-radio-group [(ngModel)]="selectedOption" (change)="changeOption()">
            <mat-card class="radioClass" appearance="outlined">
                <mat-radio-button value="5km">
                    <br>
                    <span class="radioClass">5 KM - Fun - Tiruppur Marathon-2025</span>
                    <br>
                    <span>Minimum age 10 years.</span>
                    <br>
                    <span>499.00 INR</span>
            </mat-radio-button>
            </mat-card>
            <mat-card class="radioClass" appearance="outlined">
                <mat-radio-button value="5km-Timed">
                    <br>
                    <span class="radioClass">5 KM - Timed - Tiruppur Marathon-2025</span>
                    <br>
                    <span>Minimum age 10 years.</span>
                    <br>
                    <span>599.00 INR</span>
            </mat-radio-button>
            </mat-card>

            <mat-card class="radioClass" appearance="outlined">
                <mat-radio-button value="10km">
                    <br>
                    <span class="radioClass">10 KM - Tiruppur Marathon-2025</span>
                    <br>
                    <span>Minimum age 14 years.</span>
                    <br>
                    <span>899.00 INR</span>
            </mat-radio-button>
            </mat-card>
            <mat-card class="radioClass" appearance="outlined">
                <mat-radio-button value="21km">
                    <br>
                    <span class="radioClass">21.1 KM -Tiruppur Marathon-2025</span>
                    <br>
                    <span>Minimum age 18 years.</span>
                    <br>
                    <span>999.00 INR</span>
                </mat-radio-button>
            </mat-card>
        </mat-radio-group>
    </mat-card-content>
</mat-card>
<mat-card class="radioClass" appearance="outlined">
    <mat-card-content>
<div class="div-class">
    <label class="label-class">Subtotal</label>
    <span id="subtotal">{{selectedAmount}} INR</span>
  </div>
  <div class="div-class">
    <label class="label-class">Processing fees</label>
    <span id="procesing">42.43 INR</span>
  </div>
  <div class="div-class">
    <label class="label-class">Total</label>
    <span id="total">{{totalAmount}} INR</span>
  </div>
  <div class="next-button-class">
  <mat-action-row>
    <button mat-raised-button color="primary" class="registerButton" (click)="onNext()">Next</button>
  </mat-action-row>
    </div>
</mat-card-content>
</mat-card>
</div>
